version: 2
services:
  {{ project }}:
    image: {{ image_tag }}
    extends:
      file: envars.yml
      service: envars
  tty:  true

  {{ project }}-job:
    image: {{ image_tag }}
    extends:
      file: envars.yml
      service: envars
    command: rake upload_document:upload
    tty: true
    labels:
      cron.schedule: "*/5 * * * *"
      io.rancher.container.start_once: true
    depends_on:
      - {{ project }}

  {{ project }}-cron:
    image: "rancher/container-crontab:v0.4.0"
    privileged: true
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    depends_on:
      - {{ project }}-job

#FIRST RUN
  {{ project }}-migrate:
    image: {{ image_tag }}
    extends:
      file: envars.yml
      service: envars
    command: rake db:migrate && sleep 30
    tty: true
    labels:
      io.rancher.container.start_once: true
    depends_on:
      - {{ project }}

  {{ project }}-create-doc:
    image: {{ image_tag }}
    extends:
      file: envars.yml
      service: envars
    command: rake create_document:create_on_dec[CRUZVERDE]
    tty: true
    labels:
      io.rancher.container.start_once: true
    depends_on:
      - {{ project }}-migrate

  {{ project }}-create-user:
    image: {{ image_tag }}
    extends:
      file: envars.yml
      service: envars
    command: rails runner "User.create(user:'CRUZVERDE', password_digest:BCrypt::Password.create('CRUZVERDE2018'))" && sleep 10
    tty: true
    labels:
      io.rancher.container.start_once: true
    depends_on:
      - {{ project }}-create-doc

  {{ project }}-upload:
    image: {{ image_tag }}
    extends:
      file: envars.yml
      service: envars
    command: rake upload_document:upload
    tty: true
    labels:
      io.rancher.container.start_once: true
    depends_on:
      - {{ project }}-create-user