version: 2

services:
  {{ project }}:
    image: {{ image_tag }}
    env_file:
      - config.env
    depends_on:
      - {{ project }}-db
      - {{ project }}-redis

  {{ project }}-resque:
    image: {{ image_tag }}
    command: rake resque:work
    env_file:
      - config.env
    depends_on:
      - {{ project }}

  {{ project }}-redis:
    container_name: redis
    image: redis:5.0.1-alpine
    env_file:
      - config.env

  # {{ project }}-db:
  #   image: mongo:3.2
  #   command: mongod --smallfiles