version: '2'
services:
      envars:
      	environment:
{% for item in envars_config %}
      {% for key, value in item.iteritems() %}
            {{ key }}{{ value }}
      {% endfor %}
{% endfor %}